<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mybatis.demo1.mapper.OrderMapper">

    <resultMap id="OrderList" type="mybatis.demo1.entity.Order">
        <id property="id" column="id"/>
        <result property="numbering" column="numbering"/>
        <result property="orderTime" column="order_time"/>
        <result property="userId" column="user_id"/>
    </resultMap>

    <select id="getOrdersByUser" resultMap="OrderList">
        select id,numbering,order_time,user_id from tb_order where user_id = #{userId}
    </select>
    
</mapper>